<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunxi.stamper.mapper.ReduceFileInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yunxi.stamper.entity.ReduceFileInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <id column="file_info_id" property="fileInfoId" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="relative_path" property="relativePath" jdbcType="VARCHAR" />
    <result column="absolute_path" property="absolutePath" jdbcType="VARCHAR" />
      <result column="host" property="host" jdbcType="VARCHAR" />
  </resultMap>
  <!--查询指定原图ID的缩率图信息-->
  <select id="selectByFileInfoId" resultType="com.yunxi.stamper.entity.ReduceFileInfo">
        SELECT
        	*
        FROM
        	reduce_file_info
        WHERE
        	file_info_id = #{_parameter}
        LIMIT 1
  </select>
</mapper>