<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunxi.stamper.mapper.ServeMapper" >
  <resultMap id="BaseResultMap" type="com.yunxi.stamper.entity.Serve" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="delete_date" property="deleteDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <!--查询该公司短信服务实例-->
    <select id="selectSMSByOrg" resultType="com.yunxi.stamper.entity.Serve">
        SELECT
        	s.*
        FROM
        	serve s
        LEFT JOIN org_serve os ON s.id = os.serve_id
        WHERE
        	s.delete_date IS NULL
        AND os.org_id = #{_parameter}
        AND s.code = 'SMS'
        limit 1
    </select>
</mapper>