<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunxi.stamper.mapper.StrategyPasswordMapper" >
  <resultMap id="BaseResultMap" type="com.yunxi.stamper.entity.StrategyPassword" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="len_min" property="lenMin" jdbcType="INTEGER" />
    <result column="len_max" property="lenMax" jdbcType="INTEGER" />
    <result column="time_max" property="timeMax" jdbcType="TIMESTAMP" />
    <result column="first_char" property="firstChar" jdbcType="INTEGER" />
    <result column="upper_status" property="upperStatus" jdbcType="INTEGER" />
    <result column="lower_status" property="lowerStatus" jdbcType="INTEGER" />
    <result column="num_status" property="numStatus" jdbcType="INTEGER" />
    <result column="char_status" property="charStatus" jdbcType="INTEGER" />
    <result column="creatorId" property="creatorid" jdbcType="INTEGER" />
    <result column="creatorName" property="creatorname" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
    <result column="deleteDate" property="deletedate" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>